[submodule "External_tools/restriction-enzyme-digest-simulator"]
	path = External_tools/restriction-enzyme-digest-simulator
	url = https://github.com/Nheyer/restriction-enzyme-digest-simulator
[submodule "External_tools/argparse"]
	path = External_tools/argparse
	url = https://github.com/p-ranav/argparse
[submodule "External_tools/cunit"]
	path = External_tools/cunit
	url = https://gitlab.com/cunity/cunit.git
	# cunit gets built in place, so don't report its build output as changes
	ignore = dirty
